* {
  box-sizing: border-box;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto,
    Helvetica, Arial, sans-serif;
  color: #dddddd;
  font-size: 0.9rem;
}

.topBar{
  font-size: .8rem;
  height: 40px;
}

.login {
  border: 2px solid rgb(97, 136, 255);
  border-radius: 5px;
  background: transparent;
  padding: 7px;
  color: #dddddd;
  border-bottom: 4px solid rgb(97, 136, 255);
  transform: skew(-21deg);
}
.login:hover {
  transition: 0.2s ease-out;
  border: 2px solid rgb(97, 136, 255);
  color: rgb(97, 136, 255);
  border-bottom: 4px solid rgb(97, 136, 255);
}

.login-content {
  display: inline-block;
  transform: skew(21deg);
}

.modal-style {
  background-color: #121212;
}

.input-form {
  background-color: #222831;
  border: none;
  border-radius: 5px;
  padding: .9rem .3rem;
}

.input-form:focus {
  background-color: #222831;
  outline: 2px solid rgb(97, 136, 255);
  box-shadow: -2px 5px 44px -3px rgba(97, 136, 255, 0.62);
-webkit-box-shadow: -2px 5px 44px -3px rgba(97, 136, 255, 0.62);
-moz-box-shadow: -2px 5px 44px -3px rgba(97, 136, 255, 0.62);
  color: #dddddd;
}

.btn-default {
  border: none;
  color: #dddddd;
  background: transparent;
  font-weight: bold;
  border-radius: 5px;
}

.btn-default:hover {
  transition: 0.2s ease-out;
  color: rgb(97, 136, 255);
  text-shadow: 2px 1px 3px rgba(97, 136, 255, 0.479);
}
.btn-default-contract{
  background: #000;
}

.border-white{
  filter: drop-shadow(-2px 2px 15px rgba(255, 255, 255, 0.4))
}